<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histria | TheLostHistory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&family=Roboto:wght@100;300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../media/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>

</head>

<body>

    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">TheLostHistory</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="./home">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="./locations">
                    <i class='bx bx-map-alt'></i>
                    <span class="links_name">View Locations</span>
                </a>
                <span class="tooltip">View Locations</span>
            </li>
            <li>
                <a href="./chatroom">
                    <i class='bx bxs-conversation'></i>
                    <span class="links_name">Chatroom</span>
                </a>
                <span class="tooltip">Chatroom</span>
            </li>

            <li class="profile">
                <a href="/signout">
                    <i class="bx bx-log-out" id="log_out"></i>
                </a>
            </li>
        </ul>
    </div>

    <section class="home" id="home">

        <h1 class="hero_heading">Histria</h1>
        <div class="center">
            <div class="hero_heading_underline"></div>
            <p class="about_topic">Histria or Istros (Ancient Greek: Ἰστρίη, Thracian river god, Danube), was a Greek
                colony or polis (πόλις, city) near the mouths of the Danube (known as Ister in Ancient Greek), on the
                western coast of the Black Sea. It was the first urban settlement on today's Romanian territory when
                founded by Milesian settlers in the 7th century BC. It was under Roman rule from the 1st to 3rd
                centuries AD. Invasions during the 7th century AD rendered it indefensible, and the city was abandoned.
                In antiquity, it also bore the names Istropolis, Istriopolis, and Histriopolis (Ἰστρόπολις, Ἰστρία
                πόλις). Histriopolis was a fort in the Roman province of Moesia. As Tabula Peutingeriana shows it is
                situated between Tomis and Ad Stoma; 11 miles from Tomis and 9 miles from Ad Stoma.</p>
            <p class="about_topic">Established by Milesian settlers in order to facilitate trade with the native Getae,
                it is considered the oldest urban settlement on Romanian territory. Scymnus of Chios (ca 110 BC), dated
                its founding to 630 BC, while Eusebius of Caesarea set it during the time of the 33rd Olympic Games (657
                – 656 BC). The earliest documented currency on today's Romanian territory was an 8-gram silver drachma,
                issued by the city around 480 BC. This work is based on "Histria Fortress"
                (https://sketchfab.com/3d-models/histria-fortress-83f041ac73684b50a7e7857eb8069b89) by Popa Cristian
                Vlad (https://sketchfab.com/popacristianvlad) licensed under CC-BY-4.0
                (http://creativecommons.org/licenses/by/4.0/)</p>
            <div id="map"></div>
        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://unpkg.com/three@0.126.0/build/three.min.js"></script>
    <script src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js"></script>

    <script>

        AOS.init({
            delay: 400,
            duration: 1000
        })

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaGFyc2hhbC0wOTAyIiwiYSI6ImNreGQ4dHB5aTEzY2IycHBnbXYzZ2pxdXAifQ.Gf9W5Ns9MkS9MQDjk9PB9Q';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/harshal-0902/cl9tyr861003o14o4ce5j3vuk',
            zoom: 20,
            center: [8.155, 48.095556],
            pitch: 60,
            antialias: true
        });

        const modelOrigin = [8.155, 48.095556];
        const modelAltitude = 0;
        const modelRotate = [Math.PI / 2, 0, 0];

        map.addControl(new mapboxgl.NavigationControl());

        const modelAsMercatorCoordinate = mapboxgl.MercatorCoordinate.fromLngLat(
            modelOrigin,
            modelAltitude
        );

        const modelTransform = {
            translateX: modelAsMercatorCoordinate.x,
            translateY: modelAsMercatorCoordinate.y,
            translateZ: modelAsMercatorCoordinate.z,
            rotateX: modelRotate[0],
            rotateY: modelRotate[1],
            rotateZ: modelRotate[2],
            scale: modelAsMercatorCoordinate.meterInMercatorCoordinateUnits()
        };

        const THREE = window.THREE;

        const customLayer = {
            id: '3d-model',
            type: 'custom',
            renderingMode: '3d',
            onAdd: function (map, gl) {
                this.camera = new THREE.Camera();
                this.scene = new THREE.Scene();

                const directionalLight = new THREE.DirectionalLight(0xffffff);
                directionalLight.position.set(0, -70, 100).normalize();
                this.scene.add(directionalLight);

                const directionalLight2 = new THREE.DirectionalLight(0xffffff);
                directionalLight2.position.set(0, 70, 100).normalize();
                this.scene.add(directionalLight2);

                const loader = new THREE.GLTFLoader();
                loader.load(
                    '../media/3D_models/histria_fortress/scene.gltf',
                    (gltf) => {
                        this.scene.add(gltf.scene);
                    }
                );
                this.map = map;

                this.renderer = new THREE.WebGLRenderer({
                    canvas: map.getCanvas(),
                    context: gl,
                    antialias: true
                });

                this.renderer.autoClear = false;
            },
            render: function (gl, matrix) {
                const rotationX = new THREE.Matrix4().makeRotationAxis(
                    new THREE.Vector3(1, 0, 0),
                    modelTransform.rotateX
                );
                const rotationY = new THREE.Matrix4().makeRotationAxis(
                    new THREE.Vector3(0, 1, 0),
                    modelTransform.rotateY
                );
                const rotationZ = new THREE.Matrix4().makeRotationAxis(
                    new THREE.Vector3(0, 0, 1),
                    modelTransform.rotateZ
                );

                const m = new THREE.Matrix4().fromArray(matrix);
                const l = new THREE.Matrix4()
                    .makeTranslation(
                        modelTransform.translateX,
                        modelTransform.translateY,
                        modelTransform.translateZ
                    )
                    .scale(
                        new THREE.Vector3(
                            modelTransform.scale,
                            -modelTransform.scale,
                            modelTransform.scale
                        )
                    )
                    .multiply(rotationX)
                    .multiply(rotationY)
                    .multiply(rotationZ);

                this.camera.projectionMatrix = m.multiply(l);
                this.renderer.resetState();
                this.renderer.render(this.scene, this.camera);
                this.map.triggerRepaint();
            }
        };

        map.on('style.load', () => {
            map.addLayer(customLayer, 'waterway-label');
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
    <script src="../media/js/scripts.js"></script>


</body>

</html>