<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations | TheLostHistory</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/loactionstyle.css">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">TheLostHistory</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/home">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="/locations">
                    <i class='bx bx-map-alt'></i>
                    <span class="links_name">View Locations</span>
                </a>
                <span class="tooltip">View Locations</span>
            </li>
            <li>
                <a href="/chatroom">
                    <i class='bx bxs-conversation'></i>
                    <span class="links_name">Chatroom</span>
                </a>
                <span class="tooltip">Chatroom</span>
            </li>

            <li class="profile">
                <a href="/logout">
                    <i class="bx bx-log-out" id="log_out"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="heading">Locations</div>
    <div class="sub__heading">Explore various historic loactionn with 3D Models on maps.</div>

    <div class="cards-list">

        <div class="card">
            <img src="/static/img/Ancient Corinth.jpg" alt="Ancient Corinth">
            <div class="card__details">
                <div class="name">Ancient Corinth</div>
                <p>900 BC–146 BC</p>
                <a href="/ancient_corinth">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Castle Of La Muela.jpg" alt="Castle Of La Muela">
            <div class="card__details">
                <div class="name">Castle Of La Muela</div>
                <p>15th century</p>
                <a href="/castle_of_La_Muela">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Mesa Verde.jpg" alt="Mesa Verde">
            <div class="card__details">
                <div class="name">Mesa Verde</div>
                <p>750 AD</p>
                <a href="/coyote_village_mesa_verde">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Histria.jpg" alt="Histria">
            <div class="card__details">
                <div class="name">Histria</div>
                <p>mid-7th century BC</p>
                <a href="/histria_fotress">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Karahan Tepe.jpeg" alt="Karahan Tepe">
            <div class="card__details">
                <div class="name">Karahan Tepe</div>
                <p>Pre-10th millennium BC</p>
                <a href="/karahan_tepe">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Mar Saba.jpg" alt="Mar Saba">
            <div class="card__details">
                <div class="name">Mar Saba</div>
                <p>483</p>
                <a href="/mar_saba">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Temple Of Eshmun.jpg" alt="Temple Of Eshmun">
            <div class="card__details">
                <div class="name">Temple Of Eshmun</div>
                <p>7th century BC</p>
                <a href="/temple_of_eshmun">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Great Pyramid Of Giza.jpg" alt="Great Pyramid Of Giza">
            <div class="card__details">
                <div class="name">Great Pyramid Of Giza</div>
                <p>26th century BC</p>
                <a href="/the_great_pyramid_of_giza">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Pyramid Of Hellinikon.jpg" alt="Pyramid Of Hellinikon">
            <div class="card__details">
                <div class="name">Pyramid Of Hellinikon</div>
                <p>1887</p>
                <a href="/the_pyramid_of_hellinikon_argolis_greece">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Valley Of The Kings.jpeg" alt="Valley Of The Kings">
            <div class="card__details">
                <div class="name">Valley Of The Kings</div>
                <p>16th To 11th Century BC</p>
                <a href="/valley_of_the_kings_tombs__luxor_egypt.html">
                    <button>Read more</button>
                </a>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/Xi'an.jpg" alt="Xi'an">
            <div class="card__details">
                <div class="name">Xi'an</div>
                <p>13 dynasties</p>
                <a href="/xian">
                    <button>Read more</button>
                </a>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>


    <script src="/static/js/locationscripts.js"></script>
</body>

</html>