<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatroom | TheLostHistory</title>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/loactionstyle.css">
</head>

<body>
  <style>
    .card {
      background-color: rgba(225, 228, 245, 0.559);

    }

    button {
      background-color: rgb(0, 0, 0);
    }

    button:hover {
      background-color: rgb(95, 95, 95);
    }

    body {
      background-image: url("../static/img/location.gif");
      background-size: cover;
    }
  </style>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">TheLostHistory</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/home">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
      </li>
      <li>
        <a href="/locations">
          <i class='bx bx-map-alt'></i>
          <span class="links_name">View Locations</span>
        </a>
        <span class="tooltip">View Locations</span>
      </li>
      <li>
        <a href="/chatroom">
          <i class='bx bxs-conversation'></i>
          <span class="links_name">Chatroom</span>
        </a>
        <span class="tooltip">Chatroom</span>
      </li>

      <li class="profile">
        <a href="/logout">
          <i class="bx bx-log-out" id="log_out"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="heading" style="color: white;">Chatroom</div>
  <div class="sub__heading" style="color: white;">Join or create room and chat with others</div>

  <div class="cards-list">

    <div class="card" style="height: 17rem;">
      <!-- <img src="../static/img/Ancient Corinth.jpg" alt="Ancient Corinth"> -->
      <div class="card__details" style="padding-top: 5rem;">
        <div class="name">Join a room</div>
        <!-- <p>900 BC–146 BC</p> -->
        <a href="/join">
          <button>Enter room code</button>
        </a>
      </div>
    </div>

    <div class="card" style="height: 17rem;">
      <!-- <img src="../static/img/Castle Of La Muela.jpg" alt="Castle Of La Muela"> -->
      <div class="card__details" style="padding-top: 5rem;">
        <div class="name">Create a room</div>
        <!-- <p>15th century</p> -->
        <div id="myBtn">
          <button>Create Room</button>
        </div>

        <div id="myModal" class="modal">

          <div class="modal-content">
            <span class="close">&times;</span>
            <h1 style="font-size: 1.5rem;">Create a Room</h1>
            <div class="form">
              <input type="text" name="room" placeholder="Enter room name" class="room_name" required>
              <a href="/create"><input type="submit" class="submit_btn" value="Create"></a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>


  <script src="../static/js/locationscripts.js"></script>
</body>

</html>